.blog1{
    width: 40%;
    display: inline-block;
    text-align: justify;
    margin-left: 50px;
    color: blue;
}
.blog2{
    width: 40%;
    display: inline-block; 
    }
    .blog2 img{
        width: 300px;
       margin-left: 100px;
        }
.blog4{
    margin-left: 50px;
    width: 40%;
    display: inline-block;
    text-align: justify;
}
.blog6{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}
.blog3{
    margin-left: 50px;
    width: 40%;
    display: inline-block;    
}
.blog3 img{
    width: 300px;
   margin-left: 100px;
    }
.blog6 img{
    width: 300px; 
    margin: 40px;   
}
.sheet4{
    text-align: center;
}
.blog7{
    font-size: 50px;
}
.blog8{
    margin-top: 60px;
}
.blog9{
    margin-top: 60px;
}
.blog10{
    text-align: center;
    margin-top: 100px;
    border: solid;
    width: 400px;
    height: 150px;
    margin-left: 35%;
    padding-top: 20px;
    border-color: rgb(221, 62, 115);
    background-color: rgb(221, 62, 115);
}
.gmail{
    font-size: 30px;
}
.sheet1{ 
    background-image: url(Backgorund/image\ 9.png);
    background-size: 3px;
}
.sheet2{
    margin-top: 100px;
    
}
.sheet3{
   
}
.sheet4{
    background-image: url(Backgorund/image\ 7.png);
    background-size: 3px;
}
.sheet5{
   
}
.blog11{
    margin-left: 150px;
    width: 40%;
    display: inline-block;   
    margin-top: 100px; 
}
.blog12{
    margin-left: 100px;
    width: 40%;
    display: inline-block;    
}
.sheet6{
    background-image: url(developer-portfolio/1.png);
    background-size: 50px;
}